# Dependencies
node_modules/
*/node_modules/

# Build output
dist/
*/dist/

# Environment variables
.env
*/.env

# Logs
*.log
npm-debug.log*

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store